* {
    box-sizing: border-box;
}

body, html {
    background: slategrey;
    height: 100%;
}

header {
    padding: 15px 40px;
    background: yellow;
}
 main{
  height: 100%;
  background-image: url(img/fondo_secciones.png);
  background-repeat: no-repeat;
  background-size: 100%;
 }

.secciones {
    display: flex;
    //flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    padding: 50px 30px;
  }
  
  .seccRecepcion{
    //background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .seccResultados{
    background-color: rgb(145, 151, 156);
    padding: 10px;
    flex: 50%;
  }

.caja-texto{
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin:auto;
  //margin-top:50px;
  width:80%;
  height: 90%;
  padding:10px;
  background-color: white;
  box-shadow:20px 20px 20px rgb(145, 151, 156);
}  

.caja-botones{
  border: none;
  margin:40px auto;
  width:80%;
  padding:10px;
} 

.btn-reset{
  background: orangered;
    color: white;
  padding: 10px;
  width: 15%;
}

.btn-encriptar, .btn-desencriptar{
  border-radius: 10px;
}


.btn-encriptar:hover, .btn-desencriptar:hover, .btn-reset:hover{
  transition: 1s;
  background: yellow;
  color: black;
}

.btn-encriptar{
  background: orange;
  color: white;
  padding: 10px;
  width: 30%;
}

.btn-desencriptar{
  color: red;
  width: 30%;
  margin-left: 5px;
  padding: 10px;
  
}

.tablefooter {
    margin: 0 auto;
    width: 80%;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tablefooter td {
    //border: 1px solid #000000;
    text-align: center;
}

.linkfooter {
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0px;
    background: orange;
    width: 100%;
    padding: 20px 0px;
}

@media (max-width: 800px) {
    .seccRecepcion, .seccResultados {
      flex: 100%;
    }
  }